@import url('https://fonts.googleapis.com/css2?family=Mukta&display=swap');
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Mukta', sans-serif;;
}
#fondo{
    background-color: #349595;
    background-image: linear-gradient(0deg, #349595 0%, #ffffff 100%);
    


}
.barranav{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    align-items: center;
    border: 2px solid black;
}
.logo{
    margin: 0;
    width: 65px;
    height: 65px;
    grid-column: 1 / 2;
}
.menu{
    grid-column: 3 / 7;
    display: flex;
    justify-content: space-around;

}
.menu li{
    list-style: none;

}
.menu li:hover{
    transform: translateY(-2px);
    box-shadow: 0 10px 15px #e7e2e2cb;
}
.menu a{
    text-decoration: none;
    color: rgb(7, 7, 88);
    cursor: pointer;

}
.barramenu{
    display: none;
}
.encabezado{
    color: black;
    font-size:70px;
    text-align: center;
}


.card{
    width: 300px;
    position: relative;
    margin: 20px;
    font-family: 'Poppins', sans-serif;
    transition: all 300ms;
    border-radius: 20px;
}

.card:hover{
    box-shadow: 1px 1px 20px -10px #20202049;
}

.card:hover .info__description{
    margin-top: 0;
    border-radius: 0px 0px 20px 20px;

}

.card:hover .icon{
    margin-top: -110px;
    border-radius: 20px 20px 0px 0px;
}

.icon{
    width: 100%;
    height: 220px;
    background: #EFF3F5;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    transition: all 400ms cubic-bezier(0.5,0,0,1);
    border-radius: 20px;
}

.icon i{
    font-size: 150px;
    color: #fff;
    transition: all 400ms cubic-bezier(0.5,0,0,1);
}

.info__description{
    width: 100%;
    height: 220px;
    color: #474747;
    background: #EFF3F5;
    padding: 20px;
    margin-top: -220px;
    transition: all 400ms cubic-bezier(0.5,0,0,1);
    border-radius: 20px;
}

.info__description p{
    font-size: 16px;
    margin-top: 10px;
    display: -webkit-box;
    display: -moz-box;
    display: box;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    box-orient: vertical;
    -webkit-line-clamp: 5;
    line-clamp: 5;
    overflow: hidden;
}

.info__description input{
    margin-top: 20px;
    padding: 10px 40px;
    background: #2196f3;
    color: white;
    font-weight: 500;
    font-size: 14px;
    cursor: pointer;
    border: none;
    border-radius: 20px;
    box-shadow: 1px 1px 30px -5px #20202049;
    transition: box-shadow 300ms;
}

.info__description input:hover{
    box-shadow: 1px 1px 30px -5px rgb(104, 102, 102);
    color:#000;
}


.c1:hover .icon{
    background-color:#1291c3cb;
}

h2{
    text-align: center;
}
.ofsemanal{
    width: 100%;
    max-width: 1200px;
    height: 430px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}
.img{
    height: 250px;
    width: 350px;
    background-color:#1291c3cb;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2 );
    overflow:hidden;
    margin: 20px;
    text-align: center;
    transition: all 0,80s;
    transform: scale(1.0);
}
.img:hover{
    transform: translateY(-2px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}
img{
    width: 80%;
    height: 150px;
}
h4{
    font-weight: 600;
}
p{
    padding: 0 1rem;
    font-size: 16px;
    font-weight: 300;
}
a{
    text-decoration: none;
    color: blue;
    cursor:grab;
}
.controls{
    width: 100%;
    padding: 10px;
    border: 1px solid #03112e;
}
.controls:hover{
    background-color:  rgb(128, 175, 175);
}
.nosotros{
    max-width: 1400px;
    margin: auto;
    text-align: center;
    padding: 20px 12px;
    display: grid;
}
.nosotros iframe{
    size: 20px;
}
.h1marcas{
    text-shadow: 1px 1px 1px #000;
    padding: 10px 0px;
    margin: 10px;
    size: 10px;
}
.card{
    background-color: #1291c3cb;
}

.pserv{
    text-align: center;
}
.serviciosh2{
    text-shadow: 1px 1px 1px #000;
    padding: 10px 0px;
    margin: 10px;
    text-decoration: underline;
}

.pie-pagina{
    width: 100%;
    background-color: #1291c3;
}
.pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 45px 0px;
}
.pie-pagina .grupo-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pie-pagina .grupo-1 .box figure img{
    width: 200px;
}
.pie-pagina .grupo-1 .box h2{
    color: #000;
    margin-bottom: 25px;
    font-size: 20px;
}
.pie-pagina .grupo-1 .box p{
    color: rgb(13, 13, 13);
    margin-bottom: 10px;
}
.pie-pagina .grupo-1 .red-social i{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #ccdfdf;
    margin-right: 10px;
    background-color: #0d2033;
    text-align: center;
    transition: all 300ms ease;
}
.pie-pagina .grupo-1 .red-social i:hover{
    color:#2196f3;
}
.pie-pagina .grupo-2{
    background-color:#1291c3;
    padding: 15px 10px;
    text-align: center;
    color: #000;
}
.navbar {
    border: 1px solid black;
}
.btn{
    background-color: #1291c3;
    color: #ffffff;
}
.btn:hover{
    background-color: #063593;
    color: #ffffff;
}
.btn btn-primary{
    background-color: #1291c3;
    color: #ffffff;
}
.btn btn-primary:hover{
    background-color: #063593;
    color: #ffffff;
}
input:hover{
    background-color: #ccdfdf;
}
textarea:hover{
    background-color:#ccdfdf ;
}
iframe{
    margin: 2px;
    padding: 2px;
}
.v1{
    margin: auto;
    text-align: center;
    padding: 20px 12px;
    display: grid;
    justify-content: center;
}