@media only screen and (max-width: 600px){

    .barranav{
        position: relative;
    }
    .barramenu{
        display: block;
        grid-column: 7 / 8;
        cursor: pointer;
    }
    .pie-pagina .grupo-1{
        width: 100%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
        padding: 35px 0px;
    }
}